/* HTML AND BODY */

html {
  background-color: #eee;
  font-size: 62.5%; /* Only for convenient using of rem similar to px (1.6rem = 16px) */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER SECTION */

header {
  width: 100%;
  height: 538px;
  color: white;
  background: url("../images/header.jpg") bottom no-repeat;
  overflow: auto; /* Fix for collapsing margins (navbar margin-top) */ 
}

/* HEADER SECTION - NAVBAR */

nav {
  width: 96%;
  height: 36px;
  margin: 84px auto;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
}

.nav-item {
  width: 100%;
  line-height: 36px;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  padding-top: 2px;
  color: white;
  /* border: 1px solid black; */
}

div.nav-item {
  background-color: rgb(0, 136, 204);
}

div.nav-item input {
  width: 106px;
  margin: 7px 16px 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4NCjxnPg0KCTxwb2x5Z29uIGZpbGw9IiNmZmYiIHBvaW50cz0iOS4yMDcsNi4xMjYgNy43OTMsNy41NDEgMTEuNzkzLDExLjU0MSAxMy4yMDcsMTAuMTI2IiAvPg0KCTxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LjkxNywyYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsNy44MzMsNS45MTcsNy44MzNTMyw2LjUyNSwzLDQuOTE3UzQuMzA4LDIsNS45MTcsMg0KCQkgTTUuOTE3LDBDMy4yMDEsMCwxLDIuMjAxLDEsNC45MTdzMi4yMDEsNC45MTcsNC45MTcsNC45MTdzNC45MTctMi4yMDEsNC45MTctNC45MTdDMTAuODMzLDIuMjAxLDguNjMyLDAsNS45MTcsMEw1LjkxNywweiIgLz4NCjwvZz4NCjwvc3ZnPg==");
  background-position: 5px 4px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #666;
  padding-left: 20px;
}

/* MAIN SECTION */

main {
  width: 100%;
  height: 200px;
  margin-top: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

/* @media (max-width: 886px){
  main {
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
} */

.main-item {
  width: 100%;
  min-width: 220px;
}

main .main-item:nth-child(1){
  background: url("../images/item1.jpg") 50% no-repeat;
}

main .main-item:nth-child(2){
  background: url("../images/item2.jpg") 50% no-repeat;
}

main .main-item:nth-child(3){
  background: url("../images/item3.jpg") 50% no-repeat;
}

main .main-item:nth-child(4){
  background: url("../images/item4.jpg") 50% no-repeat;
}

/* FOOTER SECTION */

footer {
  width: 100%;
  height: 90px;
  background-color: yellow;
}